.navbar-expand-lg{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.navbar-brand img{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    max-width: 250px;
    max-height: 100px;
    min-width: 60px;
    object-fit: contain;
    object-position: left center;
}
.request,.download,.menu{
text-decoration: none;
margin: 0px 7px;

}
.menu span{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.request,.download{
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255,.1);
    color: white;
    overflow: hidden;
    padding: 1px 12px 5px;
    font-weight: bold;
}
.request span,.download span{
font-size: 10px;
letter-spacing: .4px;
}
.fas .fa-bars{
    font-size: 30px;
}
.home{
    background-image:url("../images/men-bg.webp");
    overflow: hidden;
    background-image: radial-gradient(circle at left 5%, rgba(0, 185, 255, .5) -6%, rgba(169, 74, 210, .4) 32%, #00031f 97%), radial-gradient(circle at center right, rgba(110, 0, 186, .58) -6%, rgba(128, 83, 255, .28) 32%, rgba(2, 157, 255, .4) 57%);
     position: relative;
     min-height: 220px;
    color: white;
}
.homelink{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}
.homelink a{
text-decoration: none;
margin:2px 10px 0px 10px;
color: white;
}
.homelink p{
    font-weight: bold;
    margin: 1px 0px 0px 10px;
}
h1{
font-weight: bold;
font-size: 3rem;
}
.subcontent-home {
    font-size: 14px;
    font-weight: 500;
    
}

.c-btn.-glow{
    --btn-padding-top-bottom: .75em;
    --btn-primary-border: 3px;
    --btn-font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .08em;
    border: var(--btn-primary-border) solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(7deg, #009cff 50%, #522ef4 65%, #9537e3 80%);
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

.c-btn, .gform_button, .wpcf7-submit {
    --btn-ico-color: currentColor;
    --icon-shift: 10px;
    display: inline-flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size:18px ,1.8rem;
    font-family:"roboto",sans-serif;
    border-radius:0;
    margin: 2px;
    padding: .75em, 10px 1.4em 20px;
}

.c-btn.-glow:hover {
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}


.c-btn.-glow:hover>span:first-child {
    width: 100%;
}
.-glow.gform_button:hover>span:first-child, .-glow.wpcf7-submit:hover>span:first-child, .c-btn.-glow:hover>span:first-child {
    background: radial-gradient(83.83% 83.83% at 24.85% 6.89%, #b371ea 0, #9536e5 16.15%, #470083 60.42%, #009cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.-glow.gform_button>span:first-child, .-glow.wpcf7-submit>span:first-child, .c-btn.-glow>span:first-child {
    padding: var(--btn-padding-top-bottom, 10px) var(--btn-padding-left-right, 20px);
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.-glow.gform_button>span, .-glow.wpcf7-submit>span, .c-btn.-glow>span {
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-btn>span, .gform_button>span, .wpcf7-submit>span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.c-btn.-glow:hover>span:first-child:before {
    opacity: 1;
    transition: opacity .1s, transform .7s;
}
.-glow.gform_button:hover>span:first-child:before, .-glow.wpcf7-submit:hover>span:first-child:before, .c-btn.-glow:hover>span:first-child:before {
    -webkit-transform: rotate(30deg) translate(-40%, -10%);
    transform: rotate(30deg) translate(-40%, -10%);
}
.c-btn.-glow>span:first-child:before {
    opacity: 0;
    transition: opacity .5s, transform .6s;
}
.-glow.gform_button>span:first-child:before, .-glow.wpcf7-submit>span:first-child:before, .c-btn.-glow>span:first-child:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    pointer-events: none;
    -webkit-transition: opacity .3s, -webkit-transform .7s;
    transition: opacity .3s, -webkit-transform .7s;
    transition: opacity .3s, transform .7s;
    transition: opacity .3s, transform .7s, -webkit-transform .7s;
    -webkit-transform: rotate(30deg) translate(-210px, 180px);
    transform: rotate(30deg) translate(-210px, 180px);
    height: 350px;
    width: 150%;
    mix-blend-mode: multiply;
}


.c-btn.-glow:hover>span>span {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background: radial-gradient(83.83% 83.83% at 24.85% 6.89%, #b371ea 0, #9536e5 16.15%, #470083 60.42%, #009cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.-glow.gform_button>span>span, .-glow.wpcf7-submit>span>span, .c-btn.-glow>span>span {
    display: block;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.c-btn.-glow:hover .c-btn__ico {
    -webkit-transform: translateY(-50%) translateX(5px) scale(1.05);
    transform: translateY(-50%) translateX(5px) scale(1.05);
}
.-glow.gform_button .c-btn__ico, .-glow.wpcf7-submit .c-btn__ico, .c-btn.-glow .c-btn__ico {
    max-width: 10px;
    position: absolute;
    top: 50%;
    left: 70px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.c-btn.-glow:hover .c-btn__ico svg {
    color: #6418a5;
}
.-glow.gform_button .c-btn__ico svg, .-glow.wpcf7-submit .c-btn__ico svg, .c-btn.-glow .c-btn__ico svg {
    -webkit-transition: all .2s;
    transition: all .2s;
}
.c-btn__ico svg {
    fill: var(--btn-ico-color);
    color: var(--btn-ico-color);
}
.c-btn__ico img, .c-btn__ico svg {
    /* margin: auto; */
    /* background-color: black; */
    max-height: 16px;
    min-width: 10px;
}


.c-btn.-glow:after {
    content: "";
    position: absolute;
    inset: -6px;
    border: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgba(0, 156, 255, .3), rgba(200, 47, 255, .3));
    -webkit-filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
    opacity: .6;
    -webkit-animation: pulse-btn 2.1s ease-in-out infinite;
    animation: pulse-btn 2.1s ease-in-out infinite;
    z-index: 0;
}
.dot{
    text-decoration: none;
}
.dot::before {
    content: "-";
    position: relative;
    top: -7px;
    margin-right: 5px; /* Adjust spacing as needed */
    font-size: 70px; 
    width: 100px;
    color:#4FBAEE;
}
.position-static {
    margin: 30px;
}
.carousel-controls{
    display: flex;
    justify-content: center;
}
  
[data-carousel-slides] {
    scroll-snap-type: x mandatory;
  
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    [data-carousel-item] {
      scroll-snap-align: start;
    }
  }
  
  [data-carousel-nav] {
    a {
      opacity: 0.25;
    }
  
    a[aria-current] {
      opacity: 1;
    }
  }
.subdesc-home{
display: flex; 
margin-top: 10px;   
}
.subdesc-home svg{
    margin-right: 10px;
}

.services{
    position: relative;
    background: #f1f5fe;
    padding: 40px 0px;
}


.submit-btn{
    color: #009cff;
    border-radius: 5px;
    border:1px solid  #009cff;
    padding:10px 15px;
}




.title-form h3{
    color: #01afe9;
    font-size: 24px;
    font-weight: bold;
}
.title-form p{
    color:#5f6568;
    font-size: 12px;

}
.form-branding{
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 0 14px 24px 0 rgba(0, 0, 0,.05);
    box-shadow:0 14px 24px 0 rgba(0, 0, 0, .05);
    max-width: 100%;
}
.inputGroup .form-control{
    margin: 20px 0px;
    border-radius: 0px;
}



  

  .title-services{
    padding: 20px;
  }
  .title-services h2{
    font-size: 2.4rem;
    font-weight:bolder;
    z-index: 1;
    color: #3b7bce;
    margin-bottom: 10px;
  }
  
  .title-services p{
   color:#5f6568;
   font-size: 16px;
  }
.details-services{
padding: 30px;
  }
  .accordion {
    padding: 0;
    margin: 0;
}

.accordion .accordion-item{
  background-color: transparent;
  border: none;
  padding: 1em;
  color:#01afe9;
}
.accordion-item h3{
    color: #3b7bce;
    font-size:1.7rem;
    font-weight: bold;
    cursor: pointer;
}
.accordion-item h3 span{
    color: #01afe9;
    font-size:1.7rem;
    font-weight: bold;
    cursor: pointer;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
height: 250px;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
    color:black;
    
}
